<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <h1>show data to user</h1>
    {% if stu %}
      <h1>Show data</h1>
          {{stu}}
          <hr>
        {% for st in stu %}
        {{st.name}}
        {{st.email}}
        {{st.Address}}
        {{st.password}}
        {% endfor %}

    {% else %}
      <h1>No data</h1>
    {% endif %}
</body>
</html>